#mse {
  height: 2.33rem;
  // font-size: 0.12rem;
}

.vip-header {
  background-color: #fff;

  .rc-collapse-header-text {
    width: 100%;
  }
}

.vip-info-collapse {
  .rc-collapse-content {
    background-color: #e9e9e9;
  }
}