.paginationContent {
  .pagination {
    border: 1px solid #165DFF;
    .nextIncon {
      color: #165DFF;
    }
    li {
      margin: unset ;
      border: unset ;
      padding: 0 0.12rem;
    }
    & > .rc-pagination-item {
      background-color: #2B2929;
      a {
        color: #fff;
      }
    }
    & > .rc-pagination-item-active {
      background-color: #FF16E9;
      a {
        color: #fff;
      }
    }
  } 
}