.pageContainer {
  padding: 0 0.3rem;
  display: flex;
  flex-direction: column;

  .serachContent {
    display: flex;
    justify-content: center;
    font-size: 0.2rem;
    margin-top: 0.2rem;
  

    .serachInput {
      border: 1px solid #FFF;
      border-radius: 2px;
      display: flex;
      input {
        height: 0.45rem;
        border: unset;
        outline: unset;
        padding: 0 4px;
        background-color: #2B2929;
        color: #fff;
      }
      
    }
    
    .searchBtnContext {
      line-height: 0.45rem;
      color:#fff;
      background-color: #FF4D4F;
      border-radius: 2px;
      padding: 0 0.3rem;
    }
  }

  .videoListWrap {
    // width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-height: 65vh;
  }

  .footer {
    // width: 100vw;
    display: flex;
    justify-content: center;
    .naviUl {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around;
      li {
       a {
        color: #FFF;
        text-decoration: unset;
        font-size: 0.18rem;
        font-weight: bold;
       }
      }
    }
  }
}
