.categoryContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  .filterLine1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .lable {
      font-size: 0.18rem;
      font-weight: bold;
      color: #ffff;
    }
  
    .itemContent {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
      p {
        font-size: 0.18rem;
        font-weight: bold;
        color: #ffff;
        margin-left: 0.25rem;
      }
    }

     
    .sortContent {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
      p {
        font-size: 0.16rem;
        font-weight: bold;
        color: #ffff;
        margin-left: 0.25rem;
        background-color: #1890FF;
        padding: 0.06rem 0.16rem;
      }
    }
  }
}