.category-content {
  flex: 1;
  width: 3.87rem;
  .rc-collapse-item {
    border: unset;
  }
  .category-info-collapse {
    width: 100%;
    background-color: unset;
    border: unset;

    .rc-collapse-content {
      background-color: unset;
    }
    .category-header {
      // width: 100%;
      .rc-collapse-header-text {
        display: flex;
      }
    }
  }

}