.FilterLike_categoryContent {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.1rem;
}
.FilterLike_categoryContent .FilterLike_lable {
  font-size: 0.14rem;
  font-weight: 600;
  color: #fff;
  background-color: #424242;
  padding: 0.04rem 0.12rem;
}
.FilterLike_categoryContent .FilterLike_itemContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.FilterLike_categoryContent .FilterLike_itemContent p {
  font-size: 0.14rem;
  /* font-weight: 700; */
  color: #fff;
  margin-left: 0.25rem;
  padding: 0.04rem 0.06rem;
}

.FilterLike_categoryContent .FilterLike_itemContent .active {
  background-color: #ef5350;
}

.component_videoListWrap .component_videoTitle {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.component_videoListWrap .component_videoTitle .like-delete {
  width: 0.2rem;
  height: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4c4c4;
}
.component_videoListWrap .component_videoTitle .like-delete svg {
  width: 0.2rem;
  height: 0.2rem;
}
.component_videoListWrap .component_videoTitle span {
  color: #ebd0ba;
}

/* modal */
.modal-delete-content {
  padding: unset !important;
  font-size: 0.16rem;
  border-radius: unset !important;
  width: 65% !important;
}

.modal-delete-content .modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem 0.12rem;
  border-bottom: 1px solid #ccc;
}

.modal-delete-content .modal-title .title {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.modal-delete-content .modal-title a {
  display: flex;
  width: 20px;
  height: 20px;
  background: #f1e9e9;
  justify-content: center;
  align-items: center;
}

.modal-delete-content .modal-title a svg {
  width: 0.16rem;
  height: 0.16rem;
}

.modal-delete-content .modal-title span {
  font-size: 0.16rem;
}

.modal-delete-content .modal-title svg {
  width: 0.2rem;
  height: 0.2rem;
}

.modal-delete-content .modal-content {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-delete-content .modal-content #modal-delete {
  padding: 10px 15px;
  background: #e13418;
  color: #fff;
  border-radius: 5px;
  margin-top: 12px;
}

/* like-list */
.user-like-list {
  font-size: 0.16rem;
  width: 100%;
  /* flex: 1; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin-top: 0.2rem;
}

.user-like-list .like-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.12rem;
}

.user-like-list .like-item .user-avatar {
  width: 100%;
}
.user-like-list .like-item .user-avatar img {
  width: 100%;
}

.user-like-list .like-item .user-like-title-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.user-like-list .like-item .user-like-title-wrap span {
}

.user-like-list .like-item .user-like-title-wrap .like-delete {
  width: 0.2rem;
  height: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4c4c4;
}

.user-like-list .like-item .user-like-title-wrap .like-delete svg {
  width: 0.2rem;
  height: 0.2rem;
}
