.layout_content {
}

.layout_content .component_pageContainer {
  padding: unset;
}

.layout_content .component_pageContainer .page_title {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #313131;
  align-items: center;
}
.layout_content .component_pageContainer .page_title p {
  margin: unset;
  padding: 24px 0;
}

.page_from .page_input {
  margin-top: 0.2rem;
}
.page_from .page_btn .page_extent {
  display: flex;
  bottom: -40px;
  right: -10px;
}
.page_from .page_btn {
  width: 85%;
  margin-top: 0.2rem;

  position: relative;
  display: flex;
}

.page_from .page_btn .page_submit {
  width: 100%;
  font-size: 0.2rem;
}

.page_from .page_input input {
  background-color: #fff;
}

.component_footer .component_naviUl a {
  display: flex;
}

.component_videoListWrap {
  min-height: unset !important;
}

.component_footer {
  margin-top: 0.5rem;
}
