.FilterTiktok_categoryContent {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.1rem;
}
.FilterTiktok_categoryContent .FilterTiktok_lable {
  font-size: 0.16rem;
  font-weight: 500;
  color: #fff;
  background-color: #424242;
  padding: 0.04rem 0.06rem;
}
.FilterTiktok_categoryContent .FilterTiktok_itemContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.FilterTiktok_categoryContent .FilterTiktok_itemContent p {
  font-size: 0.16rem;
  font-weight: 500;
  color: #fff;
  margin-left: 0.25rem;
  padding: 0.04rem 0.06rem;
}
.FilterTiktok_categoryContent .FilterTiktok_itemContent .active {
  background-color: #ef5350;
}
/*  */
