.vip-header-screen a {
  width: 100%;
}
.page_vipHeaderContent .page_vipNameDes {
  width: 50%;
  font-size: 0.14rem;
  text-align: center;
  margin-bottom: 0.2rem;
}

.page_pannerContent .page_lable {
  font-size: 0.2rem;
  padding: 0.1rem 0;
  background-color: #457ab1;
  color: #fff;
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin-top: 0.1rem;
  border-radius: 0.05rem;
}

.page_modalContent .page_submit p {
  width: 100%;
  text-align: center;
  padding: 0.1rem 0.15rem;
}

.page_modalContent .page_submit {
  margin-top: 0.2rem;
  padding: unset;
}

/* 复写modal 布局 */

.modal-vip-order-info {
  width: 90% !important;
}

/* 通用数据 css */
.disabled-button-blue p {
  background-color: #84a9cc !important;
}

.modal-vip-order-info .modal-title {
  background-color: #c88350;
  color: #fff;
}

.modal-content.page_modalContent .page_line {
  width: 100%;
}

.layout_content  {
  background-color: #000;
}

.rc-collapse-content {
  display: none;
}

.rc-collapse-content-active {
  display: block;
}

.big-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: #313131;
  padding: 0.3rem 0;
}


.big-title span{
  font-size: 0.2rem;
  color: #fff;
  font-weight: 500;
}

.big-title span:last-child {
  font-size: 0.14rem;
  font-weight: 400;
  color: #a8a8a8;
  margin-top: 0.12rem;
}

.layout_content {
  padding: 0.5rem 0;
}

.notice-info {
  display: flex;
  flex-direction: column;
  color: #EBD0BA;
  font-size: 0.20rem;
}

.notice-info div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.notice-info div:last-child {
  margin-top: 0.12rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.component_naviUl {
  margin-top: 0.12rem;
}
.component_naviUl a {
  display: flex;
  color: #EBD0BA !important;
}