html {
  /* font-size: calc(100vw / 8.5); */
  font-size: calc(100vw / 4.28);
}

body {
  margin: unset;
}

ul {
  margin: unset;
  padding: unset;
  padding: 0 18px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0px;
  padding: 0px;
}

span {
  margin: unset;
  padding: unset;
  line-height: unset;
}