

.title {
  color: #fff;
  p {
    margin-top: 0.48rem;
    font-size: 24px;
    font-weight: bold;
  }
}
.des {
  color: #fff;
  margin-top: 0.2rem;
  p {
    font-size: 0.16rem;
  }
}
.meo {
  p {
    font-size: 0.16rem;
    color: #fff;
    margin-top: 0.50rem;
    text-align: center;
  }
}
.btn {
  span {
    padding: 0.05rem 0.14rem;
    background-color: #FF4D4F;
    color: #fff;
    font-size: 0.2rem;
    border-radius: 0.04rem;
  }
}
.currentShard {
  width: 3.87rem;
  display: flex;
  justify-content: space-between;
  span {
    padding: 0.05rem 0.14rem;
    color: #fff;
    font-size: 0.2rem;
  }
}