.vipHeaderContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-weight: bold;
  // border-bottom: 1px solid #E8E8E8;
  .vipName {
    font-size: 0.24rem;
    margin-top: 0.20rem;
  }
  .vipNamePrice {
    font-size: 0.36rem;
    margin: 0.16rem 0;
  }
  .vipNameDes {
    font-size: 0.24rem;
    margin-bottom: 0.20rem;
  }
  .vipNameUpload {
    width: 100%;
    font-size: 0.16rem;
    background-color: #DE1880;
    text-align: center;
  }
}


.pannerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  justify-content: space-between;
  .lable {
    font-size: 0.2rem;
    padding: 0.05rem 0;
    background-color: #165DFF;
    color: #fff;
    width: 80%;
    text-align: center;
    margin-top: 0.1rem;
  }
  .info {
    font-size: 0.16rem;
    margin-top: 0.1rem;
  }
}

.modalContent {
  font-size: 0.16rem;
  background-color: #ffff;
  .title {
    background-color: #FA5919;
    font-size: 0.24rem;
    color: #fff;
    text-align: center;
    padding: 0.12rem 0;
    font-weight: bold;
    margin-bottom: 0.12rem;

  }

  .line {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0.2rem;
    border-bottom: 1px solid #E8E8E8;
    color: #080505;
    span {
      font-size: 0.18rem;
    }

    
    span:first-child {
      font-weight: bold;
    }
  }

  .submit {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.24rem;
    padding-bottom: 0.24rem;
    p {
      font-size: 0.18rem;
      color: #fff;
      padding: 0.05rem 0.15rem;
      background-color: #1989FA;
      border-radius: 0.04rem;
    }
  }

}
