
.vip-info-collapse-screen {
  width: 3.87rem;
  border: unset;
  margin-top: 0.48rem;
  background-color: unset !important;
  border: unset !important;
  .rc-collapse-content {
    // background-color: unset;
  }

  .rc-collapse-item {
    margin-top: 0.2rem;
  }
}

.vip-header-screen {
  padding: unset !important;
  // background-color: #fa1979;
  .rc-collapse-header-text {
    width: 100%;
  }
}

.rc-modal {
  top: 1.2rem;
  position: relative;
  width: 80%;
  margin: 0 0.4rem;
}
